* {
    box-sizing: border-box;
}

html, body {
    height: 99%;
}

body {
    font-family: Meiryo, sans-serif;
    color: #000;
    background-color: #eee;
    font-size: 10pt;
}

fieldset {
    border: 1px solid #777;
    min-width: 0;
    margin: 5px;
}

legend {
    color: #777;
    font-size: 11pt;
    font-weight: bold;
    padding: 2px;
}

label {
    color: #777;
    font-weight: bold;
}

.server_row {
    margin-bottom: 4px;
}

.btn {
    width: auto;
    height: 20px;
    min-width: 50px;
    cursor: pointer;
}

.btn[disabled="disabled"] {
    opacity: 0.5;
    cursor: not-allowed;
}

.container {
    display: flex;
    height: 100%;
}

.box {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    min-height: 710px;
    user-select: none;
}

.box-left {
    min-width: 740px;
}

.box-right {
    min-width: 480px;
}

.drag-h {
    flex: 0 0 4px;
    margin: 10px 0;
    cursor: ew-resize;
}

.drag-h::before {
    display: block;
    width: 4px;
    height: 100%;
    margin: 0;
}

/* Connection settings */
.settings-select {
    width: 570px;
    padding: 1px 3px;
    border: 1px solid #999;
}

.select_bin_type {
    height: 20px;
    padding-top: 1px;
}

.urlHistory {
    margin-left: 10px;
}

.url {
    margin-right: 32px;
}

.connectionStatus {
    font-weight: bold;
    padding-left: 15px;
}

.wsConnectionString {
    width: 570px;
    border: 1px solid #999;
    padding-left: 5px;
    line-height: 17px;
}

/* History */
.filterMessage {
    padding: 1px 3px;
    border: 1px solid #999;
}

.showLimit {
    width: 70px;
    padding: 1px 3px;
    border: 1px solid #999;
}

.message-history {
    line-height: 150%;
    height: 95%;
    overflow: auto;
    background: white;
    padding-bottom: -10px;
}

.message-history pre {
    margin: 0;
    color: #000;
    cursor: pointer;
}

.message-history pre.sent {
    color: #f63;
}

.m-box {
    height: 100%;
    overflow: hidden;
}

 /*Right side */
.response {
    min-width: 480px;
    height: 100%;
    margin-right: 0;
}

.responseToRequest {
    cursor: pointer;
}
