:root {
 --section-min-width: 480px;
}

body {
    font-family: Meiryo, sans-serif;
    color: #000;
    background-color: #eee;
    font-size: 10pt;
    margin: 0;
    height: 100vh;
    min-height: 740px;
    min-width: 960px;
}

main {
    padding: 5px;
    display: flex;
    overflow: hidden;
    height: 100%;
}

fieldset {
    border: 1px solid #777;
    min-width: 0;
}

legend {
    color: #777;
    font-size: 11pt;
    font-weight: bold;
    padding: 2px;
}

label {
    color: #777;
    font-weight: bold;
}

section {
    user-select: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
}

/* Common */
.section {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    height: 100%;
}

.input {
    height: 1.8em;
    padding: 0.2em;
}

.btn {
    width: auto;
    height: 1.8em;
    min-width: 50px;
    cursor: pointer;
}

.btn[disabled="disabled"] {
    opacity: 0.5;
    cursor: not-allowed;
}

/* Left */
.section-left {
    width: 50%;
}

.left-resizable {
    display: flex;
    flex-direction: column;
    height: 87.45%;
}

/* Settings */
.settings {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.address {
    width: 100%;
    max-width: 740px;
}

.settings-row {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

.settings-row > label {
    min-width: 90px;
}

/* Request */
.request {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    overflow: hidden;
}

.execute {
    margin-top: 10px;
}

.request .CodeMirror {
    height: 95%;
}

.send-btn {
    position: relative;
}

.send-tooltip {
    visibility: hidden;
    opacity: 0;

    position: absolute;
    width: 15em;
    left: 110%;
    top: -1em;

    background-color: rgba(166, 166, 166, 0.73);
    color: black;
    text-align: center;
    padding: 10px 10px;
    border-radius: 6px;
    transition: opacity 1s cubic-bezier(1, 0, .98, .01);
}

.send-btn:hover .send-tooltip {
    visibility: visible;
    opacity: 1;
}

/* Resize */
.drag-h {
    position: relative;
    margin: 0 4px;
}

.drag-h::before {
    position: absolute;
    left: -6px;
    content: '';
    width: 12px;
    cursor: ew-resize;
    height: 100%;
}

.drag-v {
    position: relative;
    height: 12px;
    cursor: ns-resize;
}

/* History */
.history {
    height: 50%;
    overflow: auto;
}

.message-history {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.message-log {
    line-height: 150%;
    height: 100%;
    overflow: auto;
    background: white;
}

.message-log pre {
    margin: 0;
    color: #000;
    cursor: pointer;
}

.message-log pre.sent {
    color: #f63;
}

.log-max {
    width: 100px;
    text-align: center;
}

 /*Right side */
.section-right {
    width: 100%;
}

.response {
    min-width: var(--section-min-width);
    height: 100%;
    width: 100%;
}

.copy-to-request {
    cursor: w-resize;
}
